.App {
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  background-color: #1b1e23;
  color: #fefefe;
  min-height: 100%;
}



.App>.Header {
  background-color: #1b1e23;
  color: #fefefe;
  border: 3px solid #6db33f;
  grid-column: 12 span;
  grid-row: 1;
}

.App>.Menu {
  background-color: #1b1e23;
  color: #fefefe;
  border: 3px solid #6db33f;
  grid-column: 2 span;
  grid-row: 2 / -2;
}

.App>.main {
  background-color: #1b1e23;
  color: #fefefe;
  border: 3px solid #6db33f;
  grid-column: 10 span;
  grid-row: 2 / -2;
  padding: 32px;
}

.App>.Footer {
  background-color: #1b1e23;
  color: #fefefe;
  border: 3px solid #6db33f;
  grid-column: 12 span;
  /* grid-row: 2 span; */
}